---
import LayoutArtists from "@layouts/LayoutArtists.astro";
---

<LayoutArtists title="SoundHead - Artistas">
  <h1 class="text-center text-3xl font-bold">Artistas</h1>
  <div class="card columns">
    <div class="column column-1"></div>
    <div class="column column-2"></div>
    <div class="column column-3"></div>
  </div>
</LayoutArtists>

<script>
  import artistas from "./artistas.json";

  document.addEventListener("DOMContentLoaded", function () {
    const container1 = document.querySelector(".column-1");
    const container2 = document.querySelector(".column-2");
    const container3 = document.querySelector(".column-3");

    if (!container1 || !container2 || !container3) {
      console.error("Algunos contenedores no se encontraron.");
      return;
    }

    // Función para cargar los datos desde el archivo JSON
    function cargarDatos() {
      artistas.forEach((artista, index) => {
        const tarjeta = crearTarjeta(artista);
        if (index < 13) {
          container1.appendChild(tarjeta);
        } else if (index < 27) {
          container2.appendChild(tarjeta);
        } else {
          container3.appendChild(tarjeta);
        }
      });
    }

    // Función para crear una tarjeta para cada artista
    function crearTarjeta(artista) {
      const cardContent = document.createElement("div");
      cardContent.classList.add("card-content");

      const front = document.createElement("div");
      front.classList.add("front");
      front.style.backgroundImage = `url(${artista.imagen})`;
      front.innerHTML = `
    <h2>${artista.nombre}</h2>
    <p>${artista.album}</p>
  `;

      const back = document.createElement("div");
      back.classList.add("back");
      back.innerHTML = `
    <h1>${artista.nombre}</h1>
    <p>${artista.descripcion}</p>
    <div class="row">
      <div class="col">
        <h2>1M</h2>
        <p>Seguidos</p>
      </div>
      <div class="col">
        <h2>16k</h2>
        <p>Seguidores</p>
      </div>
      <div class="col">
        <h2>6M</h2>
        <p>Likes</p>
      </div>
    </div>
  `;

      cardContent.appendChild(front);
      cardContent.appendChild(back);
      return cardContent;
    }

    // Cargar los datos al cargar la página
    cargarDatos();
  });
</script>
